.side
	.side__logo
		| BRINGO
	.side__nav
		.nav
			ul.nav__list
				li.nav__item
					+fontIcon('plus')
					span Заказать доставку
				li.nav__item
					+fontIcon('delivery')
					span Доставки
				li.nav__item
					+fontIcon('notepad')
					span Заявки
				li.nav__item
					+fontIcon('group')
					span Контакты
				li.nav__item
					+fontIcon('gear')
					span Аккаунт
		.side__hr
		.nav
			ul.nav__list
				li.nav__item
					+fontIcon('logout')
					span Выход
				li.nav__item
					+fontIcon('directions')
					span Вернуться на сайт

